body{
    background-color: skyblue;
    justify-content: center;
}


h1{
    text-align: center;
}


form{
    background-color: orange;
    justify-content: center;

}

.content
{
    width: 100%;
    margin: 3.62rem auto 0 auto;
}


@media (min-width: 570px) {
    .content {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .content {
      max-width: 720px;
    }
  }

  .label{
    order: 1;
    text-align: start;
   width: 10em;
   text-align: right;
   padding-right: 0.5em;
   font-size: 25px;
   margin-top: 5px;
   
 }
 
 .input{
     order: 2;
     
     width: auto;
     margin-left: 15em;
     padding:1em;
     font-size: 25px;
     ;
 }
 .suggestions
 {
    order: 2;
     
    width: auto;
    margin-left: 15em;
    padding:1em;
    font-size: 25px;
 }

 input[type="text"] {
    border: 2px solid black;
    border-radius: 5px;
    width: 8em;
    height: 2em;
 }

input[type="text"] {
    border: 2px solid black;
    border-radius: 5px;
    width: 8em;
    height: 2em;    
}
input[type="number"]{
    border: 2px solid black;
    border-radius: 5px;
    width: 8em;
    height: 2em;
}
select{
    border: 2px solid black;
    border-radius: 5px;
    width: 8em;
    height: 2em;
}

#email
{
    border: 2px solid black;
    border-radius: 5px;
    width: 8em;
    height: 2em;
}


input[type="radio"]{
    height:17px; width:8px;
    margin-right:10px ;
}

input[type="checkbox"]{
    width: 8px; 
    height: 15px; 
    margin-right: 5px;
  }
  
  textarea{
    width: 20em; 
    height: 10em;
    font-size: 15px;
  }

  input[type="submit"]
{
    
    color: black;
    widows: 10px;
    font-weight: 100px;
    font-size: xx-large;
    padding: 10px;
    justify-content: end;
    background-color: rgb(220, 230, 233);
    border: 1px solid ;
    border-radius: 5px;
    font-size: large;
    cursor: pointer;
    opacity: 0.9;
    width: 20%;
    margin-left: 50%;
    
    
}
input[type="submit"]:hover, input[type="reset"]:hover{
    opacity:0.5;
  }
p{
    font-size: medium;
}
.button
{
    text-align: center;
}

